In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.__version__

'2.0.0'

In [6]:
df = pd.read_csv('laptops.csv')
print(df.shape)
df.head()

(2160, 12)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [7]:
df.Brand.nunique()

27

In [8]:
df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [17]:
df.query("Brand == 'Dell'")['Final Price'].max()

3936.0

Find the median value of Screen column in the dataset.

Next, calculate the most frequent value of the same Screen column.

Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.

Now, calculate the median value of Screen once again.

In [34]:
print('Median:', df['Screen'].median())

print('Mode:', df['Screen'].mode().values[0])

df['Screen'] = df['Screen'].fillna(df['Screen'].mode().values[0])

Median: 15.6
Mode: 15.6

In [35]:
print('Median after fillna:', df['Screen'].median())

Median after fillna: 15.6

Select all the "Innjoo" laptops from the dataset.

Select only columns RAM, Storage, Screen.

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

Compute the inverse of XTX.

Create an array y with values [1100, 1300, 800, 900, 1000, 1100].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the sum of all the elements of the result?

In [38]:
innjoo_df = df.query("Brand == 'Innjoo'")[['RAM', 'Storage', 'Screen']]
X = innjoo_df.values
y = np.array([1100, 1300, 800, 900, 1000, 1100])
w = np.linalg.inv(X.T @ X) @ X.T @ y
np.sum(w)

91.29988062995815